* {
  box-sizing: border-box;
}

html,
body {
  background-color: #1a84fd;
  height: 95vh;
  padding: 0;
  margin: 0;
}

.container {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin: 5vh auto;
  padding: 0 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #2a2a2a;
  color: white;
  border-radius: 7px;
  box-shadow: -7px 10px 10px rgba(65, 65, 65, 0.883);
}

.menu-container {
  width: 20%;
}

h1 {
  font-size: 46px;
}

.subtext {
  width: 100%;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  padding-bottom: 10px;
}

.mines-left,
.timer {
  display: flex;
  align-items: center;
}

[data-mines-left],
.time {
  width: 4ch;
}

.mines-left img,
.timer img {
  margin-right: 3px;
}

.mines-left img {
  height: 3rem;
  width: 3rem;
}

.timer img {
  height: 2.5rem;
  width: 2.5rem;
}

.hidden {
  display: none !important;
}

.board-size-input,
.mine-count-input {
  margin-top: 15px;
  position: relative;
  width: 80px;
  height: 50px;
  border-radius: 40px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  transition: 0.5s;
  flex: 1;
}

.board-size-label,
.mine-count-label {
  font-size: 17px;
  font-weight: 700;
  align-self: center;
  margin-top: 9px;
  width: 90px;
  text-align: right;
  padding-right: 10px;
}

.board-size-input .next,
.mine-count-input .next {
  position: absolute;
  top: 50%;
  right: 30px;
  display: block;
  width: 12px;
  height: 12px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  z-index: 1;
  transform: translateY(-50%) rotate(135deg);
  cursor: pointer;
  opacity: 0;
  transition: 0.5s;
}

.board-size-input:hover .next,
.mine-count-input:hover .next {
  opacity: 1;
  right: 20px;
}

.board-size-input .prev,
.mine-count-input .prev {
  position: absolute;
  top: 50%;
  left: 30px;
  display: block;
  width: 12px;
  height: 12px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  z-index: 1;
  transform: translateY(-50%) rotate(315deg);
  cursor: pointer;
  opacity: 0;
  transition: 0.5s;
}

.board-size-input:hover .prev,
.mine-count-input:hover .prev {
  opacity: 1;
  left: 20px;
}

#board-size-counter,
#mine-count-counter {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 46px;
  color: #00deff;
  font-size: 24px;
  font-weight: 700;
  user-select: none;
}

#num-of-mines {
  position: relative;
  display: block;
  text-align: center;
  font-size: 2.5em;
  color: #00deff;
  font-weight: 400;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.board-size-container,
.mine-count-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.board {
  display: grid;
  grid-template-rows: repeat(var(--size), 50px);
  grid-template-columns: repeat(var(--size), 50px);
  gap: 0px;
  user-select: none;
}

.board > * {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border-radius: 3px;
  border: 1px solid #2a2a2a;
  transition: all 0.1s;
}

.mine_small,
.flag_small {
  width: 20%;
  height: 20%;
}

.mine_small {
  transition: all 0.5s;
}

.flag_small {
  transition: all 0.2s;
}

.mine_large,
.flag_large {
  width: 100%;
  height: 100%;
}

.crossed-flag-container {
  position: relative;
  text-align: center;
}

.cross {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
  font-size: 3rem;
  font-weight: 100;
  color: rgba(243, 63, 63, 0.794);
  margin-top: 1px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
}

.button {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 3px;
  position: relative;
  background-color: #1a84fd;
  border: none;
  color: #fff;
  padding: 15px;
  width: 120px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #193047;
  border-radius: 4px;
  margin-top: 25px;
}

.button:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #1a84fd;
  color: #000;
}

.button:active {
  transition: 0.1s;
  background-color: #1a84fd;
  color: #fff;
}

.button:focus {
  outline: 0;
}

.play-btn {
  margin-bottom: 20px;
}

/* Tiles */
.board > [data-status="hidden"] {
  background-color: rgb(109, 100, 100);
  box-shadow: 2.5px 2.5px 2px rgb(185, 183, 183) inset;
}

.board > [data-status="hidden"]:hover {
  transform: scale(1.1);
}

.board > [data-status="mine"] {
  background-color: red;
  padding-top: 1px;
  padding-left: 3.5px;
}

.board > [data-status="marked"] {
  background-color: rgb(109, 100, 100);
  padding: 2px 0 2px 3px;
  box-shadow: 2.5px 2.5px 2px rgb(185, 183, 183) inset;
}

.board > [data-status="number"] {
  background-color: #c5c2c2;
  box-shadow: 2px 2px 3px grey inset;
  font-size: 18px;
}

/* Numbers */

.board > [data-num="1"] {
  color: #1072f6;
}

.board > [data-num="2"] {
  color: #12ca0f;
}

.board > [data-num="3"] {
  color: #f42415;
}

.board > [data-num="4"] {
  color: #a200ff;
}

.board > [data-num="5"] {
  color: #ffe600;
}

.board > [data-num="6"] {
  color: #ea00ff;
}

.board > [data-num="7"] {
  color: #940b0b;
}

.board > [data-num="8"] {
  color: #000;
}

.game-over-window {
  position: absolute;
  top: 174px;
  bottom: calc(var(--size) * 50px);
  width: calc(var(--size) * 50px);
  height: calc(var(--size) * 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
  color: rgb(238, 89, 89);
  font-weight: 700;
}
