* {
  box-sizing: border-box;
}

.game-end {
  font-size: 28px;
  color: red;
}

.board {
  display: grid;
  grid-template-rows: repeat(var(--size), 60px);
  grid-template-columns: repeat(var(--size), 60px);
  gap: 6px;
  background-color: white;
}

.board > * {
  height: 100%;
  width: 100%;
  border: 2px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.board > [data-status="hidden"] {
  background-color: grey;
}

.board > [data-status="mine"] {
  background-color: red;
}

.board > [data-status="marked"] {
  background-color: yellow;
}

.board > [data-status="number"] {
  background-color: blue;
  color: white;
  font-size: 18px;
}
